@charset "utf-8";

/*transition*/

.fade {
  -webkit-transition: opacity 150ms linear;
  -moz-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
  opacity: 0;
}

.fade.active {
  opacity: 1;
}

.zoom {
  -webkit-transition: opacity 150ms linear, -webkit-transform 150ms linear;
  -moz-transition: opacity 150ms linear, -moz-transform 150ms linear;
  transition: opacity 150ms linear, transform 150ms linear;
  -webkit-transform: scale3d(.3, .3, .3);
  -moz-transform: scale3d(.3, .3, .3);
  -ms-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  opacity: 0;
}

.zoom.active {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
}


/*modal*/

.modal {
  position: fixed;
  z-index: 1024;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}

.modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .3);
}

.modal-dialog {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  padding: 30px 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.modal-content {
  z-index: 1;
  width: 300px;
  background-color: #fff;
  margin: 0 auto;
}

.modal-center {
  text-align: center;
}

.modal-center:before {
  content: '';
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

.modal-center>.modal-content {
  vertical-align: middle;
  display: inline-block;
  text-align: left;
}

.modal-lg {
  width: 900px;
}

.modal-md {
  width: 600px;
}


/*tab*/

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}


/*popup*/

.s-popup {
  position: fixed;
  z-index: 1124;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.s-popup .popup-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.s-popup .popup-bgclose {
  cursor: pointer;
}

.s-popup .popup-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.s-popup .popup-close {
  width: 30px;
  height: 30px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeBAMAAADJHrORAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAwUExURUxpcQAAADQ0NMXFxWhoaMzMzPn5+vv9/eTk5OXl5fz8/5S0yayrqsXFw+Tk5P///xrb9mQAAAAPdFJOUwBNXNlw/umO1E/AGPWW/SlgkSoAAADXSURBVBjTY2AAgenL/mdVMsAAd1mvk6DKjfQNUP40E0EQcM6EcNmfCEKAWwGYv0IRyhfqAks3CsKABEjBNEU4X+gl0PAUQQRw28DAbigo6ANWouMoKFzAwOYoKHjUCKTY9KCgSALDDCBTOVgRSnQy1IKljMBYUPA6wxJBiAKwtKAXQxLYIlMTsLSgGsNHsEXKoWBpQXkoXyQ0RBDCT0KRV4OYB9fvBbYPYf51sHsQ9neC3Qt3H9C9IP/A3Q/0D8i/cP8B/YseHhjhhR6eGOGNHh8Y8YUcnwD32UjpulHwXAAAAABJRU5ErkJggg==);
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}

.s-popup .popup-content {
  font-size: 14px;
  width: 460px;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
}

.s-popup .popup-header {
  color: #ff6700;
  font-size: 18px;
  height: 60px;
  line-height: 60px;
  margin: 0 16px;
  border-bottom: 1px dashed #ccc;
}

.s-popup .popup-body {
  display: inline-block;
  padding: 60px 30px;
  color: #555;
  word-break: break-all;
}

.suc-wrap .popup-body {
  padding: 60px 30px 60px 76px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkBAMAAAATLoWrAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAeUExURUxpcQKqOxWqPwOqNA+qNgqpNQSoMwOvKy2nWQmqVC+A9ssAAAAJdFJOUwDSDKUhbztTurTVv3wAAADaSURBVCjPbZIxD4IwEIUP0LASNZpuJC66qZubDg7sLmw4uuHI7MRIUJL3by1HS1vsGxry5ZXruzsi1u0ILO9k6QXWxpAHlNaabDHqNJCZMKhJGV1hadGTUNiIbREcHSSqXNRN78mbRHNMVFLg1MuAhDKn3B74UG6b+h9/qbZNO3m2JGxTzSWnJoDRW8WrDUorNqlojMpYHis6KyQ4V4XmEulEfL+IjakdntpRrk3yqUOgItQmGShQXRo7kujPIjfN8bSQnn+N9o3DMzTPaH0L4FkT3zL5Vs5dzB9BHhcapDQWRQAAAABJRU5ErkJggg==) no-repeat 30px center;
}

.warn-wrap .popup-body {
  padding: 60px 30px 60px 76px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiBAMAAADIaRbxAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAqUExURUxpcf+WAP+XAP+ZAP+YAP+YAP+ZAP+XAP+ZAP+ZAP+ZAP+WAP+ZAP+ZAP6q6DUAAAANdFJOUwD0Wq8jnRRA076D4270Y6GhAAAA8UlEQVQoz2NgAAE21UZBiZgEBjhgt70LAjcLYAIsEAGgkANURPEuDAhBBLjuIsACsMhaJJFbIAGmu8hAASjiiCIiAhSBWHTVDaL5JtAtELkNDBwQRgEDM4TRABMxYMiFMAQYGCGMawy6EMZ1Bl8I4xJDLIRxh+EshHGVYS6MAZW6wbAXxoBKXWSQhTH2ooncTbiLJnW3BC4C1X73+F2YgbF3UcFVmAvvGsvCXJgIY9TCfAH16QWYvwwYWND8VQALsdtKvWD6MtZQxQx5WDAgYoeBByMGMWOZgQ2WEi47wBNHIFhAuACRgNhUZwvuDIKkKAB3qmih/EWYxQAAAABJRU5ErkJggg==) no-repeat 30px center;
}

.tip-wrap .popup-body {
  padding: 60px 30px 60px 76px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkBAMAAAATLoWrAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAhUExURUxpcf8eGv8eGe4AAP8iJu8WE/8eHeEMDN0GA/8+JP8bFLkrx5AAAAAKdFJOUwCiyA/+Q+EiVG+A4pTTAAAAu0lEQVQoz22SOw7CQAxEB2goEXRUkAqlgoZDbB8KWkTDBSKoEJdAostqIYpPSWT2F+OpRk9ea20PwLrOjVs/kelBrE0iB/I6B7KjqMWPTMqE7JbRnjKdZJEvG7F1RWHYzHp0ZNcASzbvHl2G6ANMaYjojrFEK9wkavGSqAsmoQalRBZGIgeSiDSkPPTtbVUFF8ujmvDVpC4MlNTGses6jq0sR1mhtmjlHPg/mnJaLQC+Wx4TLUxa5IbB/AKfmCt9KBWAFgAAAABJRU5ErkJggg==) no-repeat 30px center;
}

.s-popup .popup-footer {
  display: table;
  width: 100%;
  padding: 0 0 50px 0;
}

.s-popup .popup-footer button {
  font-size: 14px;
  text-align: center;
  width: 150px;
  height: 34px;
  line-height: 34px;
  margin: 0 20px;
  border: 0;
  border-radius: 3px;
  background-color: #3399ff;
  color: #fff;
  cursor: pointer;
}

.s-popup .popup-footer button:hover,
.s-popup .popup-footer button:focus {
  background-color: #0070ff;
}

.s-popup .popup-footer button.popup-cancel {
  background-color: #fff;
  border: 1px solid #3399FF;
  color: #3399FF;
}

.s-popup .popup-footer button.popup-cancel:hover {
  background-color: #3399ff;
  color: #fff;
}


/*hint*/

.hint-wrap .popup-body {
  border-radius: 8px/5px;
  box-shadow: 1px 2px 7px rgba(55, 38, 42, .41);
  padding: 25px 40px;
}

.hint-wrap.hint-suc-wrap .popup-body {
  padding: 25px 40px 25px 72px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABdUExURUxpcQOsRAipQAeoMweqUQeoNQSqRQuoRQKtOweqUgmoPBOnSGaZMw2oThioQBGqMxanRyOjNX+ZMw+qTgirRIyVNxStPQypQgiqVAmqWQqqVgmqUgerVgGsWgGsVFXzw64AAAAYdFJOUwDBkDTuWdynZPWW2wrgQw/kVgrSuT4Zer+0Oy8AAAC4SURBVBjTbZHbEoIwDETDtUXAG6LZpO3/f6YpoDgj+9LpSXeySYmyBu/aum6dH+irpg8AMxD65sNOIQovkpjKjbEob1LhhTYs/CNJN6JLDd2J1eP1Tj7sDyU8niOSJ4edxYLOHcPRmK/4MrOhpc6OacLipTkGq3YZ4kUFJBQ0a2YGzS5dZdS8KeYgZrdGCqnIUZXi0s8a5UgKe1sptvR+DW+0rFemOfw6pgrkZ8zjhRyv7njJf9/xBu2iGn5ianpdAAAAAElFTkSuQmCC) no-repeat 40px center;
}

.hint-wrap.hint-warn-wrap .popup-body {
  padding: 25px 40px 25px 72px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABIUExURUxpcf+YAP+YAP+XAP+YAP+YAP+XAP+YAP+YAP+YAP6XAf2YA/+YAP6YAfqWBvmXCf+YAP+XAPCNDvCTEvqWCP+aAP+ZAP+YAC2/7LwAAAAWdFJOUwDTp1eRXe3cCelPxZ/jtSiKYxJFPc4ys0THAAAAkklEQVQY022R2xLDIAhEV43iLaZX/f8/bdIAtjPZJ+bADrgCh6KvFALZe4TKUWetXtgyumoszPqfvjTz3LvwbN53pLMuANMU4dnVgMalh+3SF0+3MLJg26QiSLu/FIYJ83NCtZc27VZLM3SR07aaPOLKUTwi6fHIcmiazwRuF4Hs9CK6I2TB5PCTfTUhmOrP7/gAfh8XtU7E9OgAAAAASUVORK5CYII=) no-repeat 40px center;
}

.hint-wrap.hint-tip-wrap .popup-body {
  padding: 25px 40px 25px 72px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABLUExURUxpcf4eGf8cF/cYEvofFf0hGPwhGPgmGu8FC/8eGfoVEv8cFuVMGdBWF/ohF/8bF/kdGOEJB/EXE/8cF/8ZEv8bFP8UE/8gGP8KEUHA72EAAAAUdFJOUwDPrY3dqaJZYdmU9AoL6fBeaHWsv9z0OgAAAJlJREFUGNNtkVkOwyAMRIeEPXtioPc/aSGAVYn6A8GTbM8MQKnVanccTtsVXKckohDyIc/O5pBJLQpzZT6Fn0q+MBPfhzBGvJdogG2vUAO6wn2DbfMmYGpzLdQIFdwIHZa29QGedl0YKkAx7O3yviW390WUEvGiLklcl2BJXXx251l8s0nFJnWbOaQPDYFkmuIQXZ7wJ+ThO74GgRYVkiZdRQAAAABJRU5ErkJggg==) no-repeat 40px center;
}

.hint-wrap .popup-content {
  font-size: 16px;
  width: auto;
}

.body-hidden {
  overflow: hidden;
  height: 100vh;
}